Options +FollowSymLinks +ExecCGI -Indexes

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  
  RewriteCond %{REQUEST_URI} \..+$
#  RewriteCond %{REQUEST_URI} !\.html$
#  RewriteCond %{REQUEST_URI} !\.xml$
#  RewriteCond %{REQUEST_URI} !\.yml$
#  RewriteCond %{REQUEST_URI} !\.yaml$
#  RewriteCond %{REQUEST_URI} !\.json$
#  RewriteCond %{REQUEST_URI} !\.php$
  RewriteRule .* - [L]

  RewriteCond %{THE_REQUEST} ^.*/index.php 
  RewriteRule ^(.*)index.php http://%{HTTP_HOST}/$1 [R=404,L]
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteRule ^admin /area/admin/templates/layout.php [NC,L]

#  redirectMatch 301 ^/area/admin /
#  RewriteRule ^error /test.php [NC,L]
#  RewriteRule ^(.*)$ /area/test.php?bbm=yeah [QSA,L]
#  RewriteRule ^tom/(.*)?$ /area/test.php?bbm=%{REQUEST_URI} [NC,L]
#  RewriteRule ^tom/(.*)?$ /area/test.php?bbm=$1 [NC,L]
</IfModule>